flask==3.1.2
python-dotenv==1.2.1
pypdf==6.3.0

langchain==1.0.8

google-genai==0.7.0
langchain-google-genai==3.2.0

numpy==1.26.4

pinecone-client==5.0.1
langchain-pinecone==0.2.13

sentence-transformers==5.1.2

-e .
